<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="email" placeholder="Registered Email" required>
              <!-- <span *ngIf="isValid('email')">email cannot be blank</span> -->
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input type="password" formControlName="password" matInput placeholder="Password">
            </mat-form-field>
            <!-- <span *ngIf="isValid('password')">Password cannot be blank</span> -->
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Sign In</button>
    <button mat-raised-button (click)="close()" color="primary">close</button>
  </mat-card-actions>
</mat-card>

<!-- <h2 mat-dialog-title>Login</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="email address" formControlName="username">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="password" formControlName="password">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <button mat-raised-button (click)="close()" color="primary">close</button>
</mat-dialog-actions> -->